.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    text-decoration: none;
    text-align: center;
    padding: 8px;
    margin: 8px;
    border: 1px solid dodgerblue;
    border-radius: 8px;
    transition: 0.5s;
    width: 120px;

    &:hover {
      color: white;
      background-color: dodgerblue;
      border: 2px solid white;
    }
  }

  .active {
    color: white;
    background-color: dodgerblue;
    border: 2px solid white;
  }

  .brand {
    border: 2px solid dodgerblue;
  }
}

.spacer {
  flex-grow: 1;
}
